[Unit]
Description=currency

[Service]
User=root
WorkingDirectory=/app/
Environment=DISABLE_PROFILER=1
Environment=PORT=7000
ExecStart=node /app/server.js
SyslogIdentifier=currencyservice

[Install]
WantedBy=multi-user.target