[Unit]
Description=checkout

[Service]
User=hipstershop
WorkingDirectory=/app
Environment=PRODUCT_CATALOG_SERVICE_ADDR={{PRODUCT_CATALOG_SERVICE_ADDR}}:3550
Environment=SHIPPING_SERVICE_ADDR={{SHIPPING_SERVICE_ADDR}}:50051
Environment=PAYMENT_SERVICE_ADDR={{PAYMENT_SERVICE_ADDR}}:50051
Environment=EMAIL_SERVICE_ADDR={{EMAIL_SERVICE_ADDR}}:8080
Environment=CURRENCY_SERVICE_ADDR={{CURRENCY_SERVICE_ADDR}}:7000
Environment=CART_SERVICE_ADDR={{CART_SERVICE_ADDR}}:7070

Environment=PORT=5050
Environment=DISABLE_PROFILER=1

ExecStart=/app/mycheckout
SyslogIdentifier=checkoutservice

[Install]
WantedBy=multi-user.target