[Unit]
Description=shipping

[Service]
User=root
WorkingDirectory=/app
Environment=DISABLE_PROFILER=1
Environment=PORT=50051

ExecStart=/app/myshippingservice
SyslogIdentifier=shippingservice

[Install]
WantedBy=multi-user.target