[Unit]
Description=productcatalog

[Service]
User=root
WorkingDirectory=/app
Environment=PORT=3550

ExecStart=/app/myproductcatalogservice
SyslogIdentifier=productcatalogservice

[Install]
WantedBy=multi-user.target